.OOO- {
    width: 795px;
    height: 72px;
    margin: 65.2px 564px 31px 171px;
    font-family: IstokWeb;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d2003f;
}

.check {
    
    width: 800px;
    height: 800px;
}