.check {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.success {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #d2003f;
}

.submit-button {
    display: block;
    margin: 0 auto;
    background-color: #D2003F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
}

.submit-button:hover {
    background-color: #B70037;
}