@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
font-family: 'NPSfontBold';
}

/* style.css */
.login-button-container {
  position: absolute; /* 절대 위치 */
  top: 20px; /* 상단에서 0px 떨어진 위치 */
  right: 40px; /* 우측에서 0px 떨어진 위치 */
  padding: 10px; /* 내부 여백 추가 */
}

.login-button {
  background-color: #D2003F; /* 배경색 설정 */
  color: white; /* 글씨색 설정 */
  border: none; /* 테두리 없앰 */
  padding: 10px 20px; /* 상하 10px, 좌우 20px 패딩 설정 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  font-size: 20px; /* 글씨 크기 설정 */
  border-radius: 30px;
}

.login-button:hover {
  background-color: #D2003F; /* 마우스 오버 시 배경색 변경 */
}

.image-container {
  position: absolute; /* 또는 'fixed', 화면에 고정된 위치를 원한다면 */
  right: 40px; /* 우측 끝에서 0px 떨어진 위치 */
  top: 120px; /* 로그인 버튼 아래에 위치하도록 top 값을 조정하세요. 필요에 따라 값을 조정해 주세요. */
}

.image {
  display: block; /* 이미지를 블록 요소로 설정 */
  margin: 0; /* 이미지를 컨테이너의 우측에 바로 붙이도록 조정 */
  width: 600px; /* 이미지 너비 설정 */
  height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
}
.image-container::before {
  content: "";
  display: block;
  width: calc(100vw - 600px); /* 화면 전체 너비에서 사진의 너비만큼 뺀 값을 선의 너비로 설정 */
  height: 100px; /* 선의 두께 */
  background-color: #D2003F; /* 선의 색상 */
  position: absolute;
  left: calc(-100vw + 100% ); /* 선의 시작점을 사진의 왼쪽 끝으로 설정 */
  bottom: 0; /* 이미지 컨테이너의 아래쪽에 선을 위치시킴 */
}

.image-container::after {
  content: "우리아이 공부 습관 길라잡이"; /* 표시하고자 하는 텍스트 */
  position: absolute;
  left: calc(-100vw + 100% + 780px); /* 이미지의 왼쪽 바깥쪽으로 조금 더 이동시킵니다. */
  bottom: 150px; /* 선의 높이에 맞춰 위치 조정 */
  width: auto; /* 텍스트 영역의 너비 설정 */
  color: #D2003F; /* 텍스트 색상 */
  font-size: 40px; /* 텍스트 크기 */
  text-align: left; /* 텍스트 정렬 */
}

.smartmind-text {
  position: absolute; /* 화면에 고정된 위치 */
  left: 10px; /* 좌측 가장자리로부터의 거리 */
  bottom: 20px; /* 하단 가장자리로부터의 거리 */
  color: grey; /* 글씨 색상 */
  font-size: 200px; /* 글씨 크기 */
  padding: 20px; /* 내부 여백 */
  font-weight: bold; /* 글씨 두께 */
}

.menu-container {
  position: fixed; /* 고정된 위치 */
  right: 60px; /* 우측 가장자리로부터 20px 거리 */
  bottom: 80px; /* 하단 가장자리로부터 20px 거리 */
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: repeat(2, auto); /* 2열 레이아웃, 각 열의 너비는 내용에 따라 자동 조정 */
  column-gap: 30px; /* 열 간 간격 */
  row-gap: 50px; /* 행 간 간격 */
  align-items: start; /* 항목들을 그리드 영역의 시작 부분에 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.menu-list {
  list-style: none; /* 목록 스타일 제거 */
  padding: 0; /* 내부 여백 제거 */
  margin: 0; /* 외부 여백 제거 */
  display: contents; /* 리스트 항목들이 그리드 컨테이너의 직접적인 자식처럼 동작하도록 설정 */
}

.menu-list li {
  padding: 5px 10px; /* 항목 내부 여백 */
  border-radius: 5px; /* 경계선 둥글게 */
}

.menu-list li a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #D2003F; /* 글씨 색상 */
  font-size: 40px; /* 글씨 크기 */
}

.menu-list li a:hover {
  transform: translateX(10px); /* 오른쪽으로 10px 이동 */
  transition: transform 0.3s ease; /* 변화가 부드럽게 적용되도록 transition 속성 추가 */
}




