.middle{
    display: block;
    margin: 100px;
}

h1{
    color: #D2003F;
}

h2{
    padding: 30px;
    font-size: 25px;
}
p{
    border: 1.5px solid black;
    padding: 30px;
    width: 1500px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}


/* 라디오 버튼과 라벨 스타일링 */
input[type="radio"] {
    margin: 10px 5px;
    accent-color: #D2003F; /* 라디오 버튼 색상 변경 */
}

label {
    font-size: 20px; /* 라벨 글씨 크기 */
    color: #333; /* 라벨 글씨 색상 */
    padding-top: 40px;
}

/* 정답 제출 버튼 스타일링 */
button {
    display: block; /* 버튼을 블록 요소로 만들어 줄 바꿈 */
    width: 200px; /* 버튼 너비 */
    padding: 15px 0; /* 버튼 상하 패딩 */
    margin: 30px auto; /* 상하 마진 30px, 좌우 자동 */
    background-color: #D2003F; /* 배경색 */
    color: white; /* 글씨색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 20px; /* 글씨 크기 */
    transition: background-color 0.3s; /* 배경색 변경 효과 */
}

button:hover {
    background-color: #f01b5b; /* 호버 시 배경색 변경 */
}

/* 추가된 버튼 스타일링 */
.custom-button {
    width: 100%; /* 부모 컨테이너의 넓이에 맞춤 */
    padding: 14px; /* 상하 패딩 */
    margin-bottom: 30px; /* 버튼 사이의 마진 */
    background-color: #D2003F; /* 배경색 */
    color: white; /* 글씨색 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 변경 */
    transition: background-color 0.3s; /* 호버 효과 */
    font-size: 20px;
}

.custom-button:last-child {
    margin-bottom: 0; /* 마지막 버튼의 하단 마진 제거 */
}